.b000000-ody{


    background-color: cadetblue;
    background-color: rgb(88, 88, 88);




    


/*     background-image: linear-gradient(150deg, rgb(0, 200, 200), rgb(100, 255, 100));
    background-image: linear-gradient(150deg, rgb(100, 255, 0), rgb(255, 100, 9)); */



}

.section-padding{
     background-color: #404242; 
     background-color: black; 

}

.ser-title-container{
    margin-left: 30px;
    color: aliceblue;
}

.container{
    color: aliceblue;
}

.ser-title{
    color: aliceblue;
}

.album-wrapper{

    display: flexbox;
    background-color: inherit;
    min-height: 100vh;
    align-items: center;
    align-content: center;
}

.album-container{
  
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    grid-gap: 35px;
    padding:  1% 2%;

}

.album-pic{
 
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

    width: auto;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    grid-gap: 10px;
    padding: 5px;
    
    align-items: center;
 
  
  }


.album-left{



   display: grid; 
   padding-top: 10px;
   padding-bottom: 10px;
 
   height: 100%;
  
 

   align-items: center;
   justify-content: right;
}

.album-right{

    color: whitesmoke;

 
     display: flex;
    
    /*
    position: relative;
    z-index: 10; */

    align-items: center;
    justify-content: right;

   padding: 10px;
   padding-top: 0%;


}

.album-right p{

    margin: 2px;
    padding-top: 5px;
}

.album-title{
    font-size: 16px;
    font-weight: bolder;
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.album-explanation{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

.album-explanation p{
    padding-bottom: 5px;
}

.bglight-blue:hover{
    background-color: rgb(206, 214, 222);
}

.form-action{
    color: black;
}

.btn-count-number, h1{
    color: aliceblue;
}

.count-table, button{
    color: black;
    font-size: larger;
    font-weight: bold;
    
}

.count-table, button:hover{
    color: white;
    font-size: larger;
    font-weight: bold;
    
    
}

